<div class="ext-box">
  <div class="int-box">
    <div class="container">
      <div classs="header">
        <div class="container">

          <div class="well">
            <div class="trip-form-well">
              <h2><%= @trip.destination %> Trip</h2>
              <form action="/trips/<%= @trip.id %>" method="post">
                <input id="trip_id" name="trip_id" type="hidden" value="<%= @trip.id %>">
                <label for="description"></label>
                <input type="text" name="description" placeholder="Add Activity">
                <button type="submit">Add</button>
                <br>
                <br>
                <div class="flex dark">
                  <button class="btn"> <a href="/users/<%= @user.id %>/trips">View All Trips</a></button>
                  <button class="btn"> <a href="/users/<%= @user.id %>">Add a Trip</a></button>
                </div>
              </form>
              <h3 class="details">Start date of trip: <%= @trip.start_date %></h3>
              <h3 class="details">End date of trip: <%= @trip.end_date %></h3>
              <br>
              <h3 class="details">This week: <%= @current['daily'] %></h3>
              <h3 class="details">Currently: <%= @current['summary'] %></h3>
              <h3 class="details">Current temperature: <%= @current['temperature'] %>°</h3>
              <ul>
                <% @trip.activities.each do |trip_activity| %>
                  <li id="activity"><%= trip_activity.description %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--
<div class="flex dark">
<button type="submit" name="submit" class="bttn">SUBMIT</button>
  <div> -->
